@charset "UTF-8";

/*
Typcal Devices Breackpoints
-----------------------------
Pequenas telas: até 600px
Celular: de 600px até 768px
Tablet: 768px até 992px
Desktop: 992px até 1200px
Grandes telas: acima de 1200px
*/

@media screen and (min-width: 768px) {

    header > span.material-icons {
        display: none;
    }
    header > menu {
        display: block;
    }
    menu > ul > li {
        display: inline-block;
        font-weight: 600;
    }

    body > main {
        width: 768px;
    }
}